body{
margin: 0;
font-family: sans-serif;
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
justify-content: center;
background: url("https://images.hdqwalls.com/download/purple-night-ride-4k-qz-1600x900.jpg");
background-size: cover;
overflow: hidden;
}


h2{
text-transform: uppercase;
letter-spacing: 4px;
font-size: 14px;
text-align: center;
color: aliceblue;
}

p{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 7px;
    color: aliceblue;
}


.clock{
    display: flex;

}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    border-radius: 4%;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    width: 100px;
    height: 80px;
    opacity: 0.8;
    background: slateblue;
    opacity: 75%;
    color: aliceblue
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: black;
    opacity: 0.8;
    color: aliceblue
}

.clock #ampm{
bottom: 0;
position: absolute;
width: 60px;
height: 30px;
font-size: 20px;
background: purple;
}



